header {
    height: 4rem;
    border-bottom: 1px solid #e4e4e4;
}

.basket__container {
    height: 100%;
}

.basket {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.basket span {
    margin-left: 1rem;
}

.products__highlights {
    display: flex;
}

.product-highlight {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}
